@page
@model CANBOOKRAM_V01.Pages.Friends.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Add a friend</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <p>You are: </p>
                <p>@User.Identity?.Name</p> 
            </div>
            <div class="form-group">
                <label asp-for="FriendshipTable.Friendemail" class="control-label"> Friend Email</label>
                <input asp-for="FriendshipTable.Friendemail" class="form-control" />
                <span asp-validation-for="FriendshipTable.Friendemail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
