@page
@model CANBOOKRAM_V01.Pages.post.AddModel

@{
    ViewData["Title"] = "Edit";
}

<script>
    function DoPostBack() {
        document.formRate.submit();
    }
</script>
<h4>Friendship Request!!</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" name="formRate">
         <div class="rate">
        <input asp-for="Rate" type="radio" id="Like" name="rate" value="Like"
               onchange="DoPostBack();" />
        <label for="star5" title="text">Like</label>
        <input asp-for="Rate" type="radio" id="Dislike" name="rate" value="Dislike"
               onchange="DoPostBack();" />
        <label for="star1" title="text">Dislike</label>
    </div>
</form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}