@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row" itemid="wrapper">

    <div class="box">
				    <div class="maincontent">
					   <form id="account" method="post">
               <h1>@ViewData["Title"]</h1>
               <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-floating">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
            </form>
				    </div>
			    </div>
</div>
<div class="formito" itemid="wrapper">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword"><button>Forgot your password?</button></a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl"><button>Register as a new user</button></a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation"><button>Resend email confirmation</button></a>
                    </p>
                </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

