@page
@model CANBOOKRAM_V01.Pages.RateUserModel
@{
}
<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Picture</th>
                <th>Phone number</th>
                <th>Average Rating</th>
                <th>Rate User</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.UserRatingsList)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                  
                    <td>
                        @if(item.Picture != null)
                        {
                            <img src="data:image;base64,@System.Convert.ToBase64String(item.Picture)" width="80" height="80" class="Heyoo" />
                        }
                        @if(item.Picture == null)
                        {
                            //Well, nothings here.
                        }
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                    @if (item.AvgRating != "0")
                    {
                        <td>
                            <p>User rating: @item.AvgRating/5.0</p>
                        </td>
                    }
                    else
                    {
                        <td>
                            <p>User has no rating</p>
                        </td>
                    }
                    <td>
                        <a class="btn btn-danger" asp-page="AddRating" asp-route-ratedUserID="@item.UserId">Rate User</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>